
# Benutzer
PUID=1000
GUID=1000
TZ=Europe/Berlin

# Netzwerk
SUBNET=192.168.178.0/24
GATEWAY=192.168.178.1

# Domains
DOMAIN=homelab.local
EMAIL=admin@homelab.local

# Hosts
TRAEFIK_HOST=traefik
ADGUARD_HOST=adguard
PORTAINER_HOST=portainer


# IPs
TRAEFIK_IP=192.168.178.2
ADGUARD_IP=192.168.178.252
PORTAINER_IP=192.168.178.250
