## common environment variables for all containers

########################################
# Host User ID
########################################
# Benutzer
PUID=1000
PGID=1000
TZ=Europe/Berlin

########################################
# Network
# 192.168.178.225 - 192.168.178.254
########################################
SUBNET=192.168.178.224/27
GATEWAY=192.168.178.1
NETWORK_NAME=homelab_macvlan
# Synology: Parent-Interface per Live-Test festlegen (z. B. `ip -o link show`)
# Häufig ist `ovs_eth0` oder `bond0` korrekt, nicht zwingend `eth0`
NETWORK_ADAPTER=eth0

########################################
# Domains
########################################
HOMELAB_DOMAIN=homelab.internal
HOMELAB_EMAIL=admin@homelab.internal

#######################################
# Traefik
#######################################
TRAEFIK_ENABLED=true
TRAEFIK_TLS_ENABLED=true

## ** common environment ends here **
