# Benutzer
PUID=1000
PGID=1000
TZ=Europe/Berlin

# Netzwerk
# 192.168.178.225 - 192.168.178.254
SUBNET=192.168.178.224/27
GATEWAY=192.168.178.1
NETWORK_NAME=homelab_mcvlan
NETWORK_ADAPTER=eth0

# Domains
HOMELAB_DOMAIN=homelab.internal
HOMELAB_EMAIL=admin@homelab.internal


# Traefik environment
TRAEFIK_ENABLED=false
TRAEFIK_TLS_ENABLED=false
TRAEFIK_HOST=traefik
TRAEFIK_IP=192.168.178.225
TRAEFIK_PORT=80

# ADGuard environment
ADGUARD_HOST=adguard
ADGUARD_IP=192.168.178.252
ADGUARD_PORT=8252

# Portainer environment
PORTAINER_HOST=portainer
PORTAINER_IP=192.168.178.250
PORTAINER_PORT=8250

# Gitea environment
GITEA_HOST=gitea
GITEA_IP=192.168.178.248
GITEA_PORT=3000
GITEA_SSH_PORT=222
