# OS
.DS_Store
Thumbs.db

# Environment
.env*
!.env.common.example
!.env.example
.git-author
!.git-author.example

# Database volume
mysql_data/

# Logs
logs/

# Composer
vendor/

# IDE
.vscode/
.idea/

# Docker
*.log

# Traefik
traefik/step/secrets/
traefik/step/config/
traefik/step/db
traefik/step/certs/
traefik/certs/*.pem
traefik/certs/*-key.pem
!traefik/certs/.gitkeep
