# Benutzer
PUID=1000
PGID=1000
TZ=Europe/Berlin

# Netzwerk
SUBNET=192.168.178.224/27
GATEWAY=192.168.178.1

# Homelab
HOMELAB_DOMAIN=homelab.internal
HOMELAB_EMAIL=admin@homelab.internal

# Traefik
TRAEFIK_ENABLED=false
TRAEFIK_TLS_ENABLED=false

# Gitea
GITEA_HOST=gitea
GITEA_IP=192.168.178.248
GITEA_PORT=3000
GITEA_SSH_PORT=222
