########################################
# Network
########################################
GITEA_HOST=gitea
GITEA_IP=192.168.178.248

# Optionale service-spezifische Overrides fuer Gitea.
# Zentrale Werte (Benutzer, Netzwerk, Domain, Traefik, Host/IP) kommen aus ../.env.common
GITEA_PORT=3000
GITEA_SSH_PORT=2222
