########################################
# Network
########################################
FORGEJO_HOST=forgejo
FORGEJO_IP=192.168.178.218

# Optionale service-spezifische Overrides fuer Forgejo.
# Zentrale Werte (Benutzer, Netzwerk, Domain, Traefik) kommen aus ../.env.common

FORGEJO_PORT=3000
FORGEJO_SSH_PORT=222
