# Benutzer
PUID=1026
PGID=1000
TZ=Europe/Berlin

# Netzwerk
SUBNET=192.168.178.224/27
GATEWAY=192.168.178.1

# Homelab
HOMELAB_DOMAIN=homelab.internal
HOMELAB_EMAIL=admin@homelab.internal

# Traefik
TRAEFIK_ENABLED=false
TRAEFIK_TLS_ENABLED=false

# forgejo
FORGEJO_HOST=forgejo
FORGEJO_IP=192.168.178.218
FORGEJO_PORT=3000
FORGEJO_SSH_PORT=222
