# Benutzer
PUID=1000
PGID=1000
TZ=Europe/Berlin

# Traefik
TRAEFIK_ENABLED=true
TRAEFIK_ENDPOINT=websecure
TRAEFIK_TLS_ENABLED=true
CERT_RESOLVER=stepca
TRAEFIK_CA_PASSWORD=TopS3cretPa$$w0rd
TRAEFIK_BASIC_AUTH="admin:$apr1$4cv79qkr$fqKzPnmE3nX1pYXIhYq8u0"