########################################
# Network
########################################
TRAEFIK_HOST=traefik
TRAEFIK_IP=192.168.178.225

########################################
# Traefik
########################################
TRAEFIK_ENTRYPOINT=websecure
CERT_RESOLVER=stepca
# Optional: traefik/config/tls.yml kann ein mkcert-Wildcardzertifikat aus traefik/certs/ laden.

########################################
# Authentication
########################################
TRAEFIK_BASIC_AUTH="user:password"

########################################
# step-ca
########################################
STEP_CA_PASSWORD=TopSecretPassw0rd
STEP_CA_ACME_EMAIL=admin@homelab.internal
