# Benutzer
PUID=1000
PGID=1000
TZ=Europe/Berlin

# Netzwerk
# 192.168.178.225 - 192.168.178.254
SUBNET=192.168.178.224/27
GATEWAY=192.168.178.1
NETWORK_NAME=homelab_macvlan

# Traefik
TRAEFIK_HOST=traefik
TRAEFIK_IP=192.168.178.225
TRAEFIK_ENABLED=true
TRAEFIK_ENDPOINT=websecure
TRAEFIK_TLS_ENABLED=true
CERT_RESOLVER=stepca
TRAEFIK_CA_PASSWORD=TopS3cretPa$$$$w0rd
TRAEFIK_BASIC_AUTH="admin:$$apr1$$4cv79qkr$$fqKzPnmE3nX1pYXIhYq8u0"
