########################################
# Network
########################################
ADGUARD_HOST=adguard
ADGUARD_IP=192.168.178.252

# Optionale service-spezifische Overrides fuer AdGuard.
# Zentrale Werte (Benutzer, Netzwerk, Domain, Traefik) kommen aus ../.env.common
