########################################
# Network
########################################
POLYPHPADM_IP=192.168.178.234
POLYPHP56_IP=192.168.178.235
POLYPHPDB_IP=192.168.178.236
POLYPHP74_IP=192.168.178.237
POLYPHP85_IP=192.168.178.238

########################################
# Database
########################################
## Optional service-specific overrides for Poly-PHP.

MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=lamp_db
MYSQL_USER=lamp_user
MYSQL_PASSWORD=lamp_password

########################################
# PHP ports
########################################
PHP56_PORT=8056
PHP74_PORT=8074
PHP85_PORT=8085

PHPMYADMIN_PORT=8080